h1 {
    margin-bottom: 5px;
    font-size: 45px;
}
h2 {
    margin-top: 0; /* remove extra space above h2 */
}
body {
    line-height: 1.3; /* tighter sentence leading */
}
p {
    margin: 6px 0; /* reduce space between quotes */
}
.name {
    font-weight: bold;
}
.spacer {
    height: 20px; 
}
.venkman { color: #1e90ff; }
.dana    { color: #e91e63; }
.stantz  { color: #4caf50; }
.egon    { color: #9c27b0; }
.winston { color: #ff9800; }
.mayor   { color: #795548; }