h1 {
    margin-top: -70px;
    margin-bottom: -10px;
    font-size: 310px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(217, 96, 142);
}

h2 {
    margin-top: 0; 
    margin-bottom: 25px;
    padding-left: 80px;
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: rgb(95, 95, 95);
}

body {
    line-height: 1.4;
    padding-bottom: 40px;
    background-image: url("/Users/macintosh/Desktop/iffall2025/publish/lyrics-exercise/images/b381acc7bd99c3b21827359383b12e61.jpg");
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
    background-blend-mode: overlay;
}

p {
    margin: 8px 0; /* reduce space between quotes */
    padding-left: 80px;
}

.spacer {
    height: 20px; 
}
